<p-growl [(value)]="msgs" sticky="sticky" life="5000"></p-growl>

<h1 class="first">Gestion des Systèmes</h1>

<div class="w3-margin">
  <div class="ui-inputgroup">
    <button (click)="refresh()" pButton type="button" icon="fa-refresh" class="ui-button-primary w3-xlarge"></button>
    <input class="w3-xlarge w3-block" #gb type="text" pInputText  placeholder="Recherche Globale">
  </div>
</div>

<p-dataTable [value]="systemes" selectionMode="single" [(selection)]="selectedSysteme"
             (onRowSelect)="onRowSelect($event)" [responsive]="true" [globalFilter]="gb" #dt
             [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" >
  <p-header>Liste des Systemes</p-header>
  <p-column field="id" header="Id" [filter]="true" filterPlaceholder="Filtrer" [sortable]="true"></p-column>
  <p-column field="nom" header="Nom" [filter]="true" filterPlaceholder="Filtrer" [sortable]="true"></p-column>
  <p-footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Ajouter"></button>
    </div>
  </p-footer>
</p-dataTable>

<p-dialog header="Ajouter un Système" [(visible)]="displayAddDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="systeme">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="nom">Nom Système</label></div>
      <div class="ui-grid-col-8"><input pInputText id="nom" [(ngModel)]="systeme.nom" /></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="annuler()" label="Annuler"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Ajouter"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modifier ou Supprimer un Système" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="systeme">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="nom2">Nom Système</label></div>
      <div class="ui-grid-col-8"><input pInputText id="nom2" [(ngModel)]="systeme.nom" /></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-plus-circle" (click)="annuler()" label="Annuler"></button>
      <button type="button" pButton class="ui-button-danger" icon="fa-trash-o" (click)="delete()" label="Supprimer"></button>
      <button type="button" pButton class="ui-button-success" icon="fa-pencil" (click)="update()" label="Modifier"></button>
    </div>
  </p-footer>
</p-dialog>
