<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">

  <div class="w3-container w3-row w3-margin-top">
    <div class="w3-col s5">
      <img src="../../../assets/images/snrt-logo-no-text.png" class="w3-margin-right" style="width:50px">
    </div>
    <div class="w3-col s7 w3-margin-top">
      <span><strong>Mon Dashboard</strong></span><br>
    </div>
    <div class="icon-bar" >
      <a routerLink="/admin-dashboard/mon-compte" ><i class="fa fa-user-circle-o"></i></a>
      <a href=""><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-indigo">0</span></a>
      <a (click)="deco()" href="" ><i class="fa fa-sign-out"></i></a>
    </div>
  </div>

  <a routerLink="generation-code" class="w3-bar-item w3-button item">Générer Code d'inscription</a>
  <a routerLink="liste-code"  class="w3-bar-item w3-button item">Liste des codes d'inscription</a>
  <a routerLink="systemes"  class="w3-bar-item w3-button item">Gestion des Systèmes</a>
  <a routerLink="modules"  class="w3-bar-item w3-button item">Gestion des Modules</a>
  <a routerLink="utilisateurs"  class="w3-bar-item w3-button item">Gestion des Utilisateurs</a>

</div>

<div zclass="w3-main" id="main">

  <div class="cont">
    <div class="container" id="op" (click)="sideBarToggle()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>

    <a routerLink="/admin-dashboard/accueil" class="dashText w3-margin-right w3-xxlarge w3-text-white"><i class="fa fa-tachometer w3-margin-right" aria-hidden="true"></i></a>
  </div>

  <div class="w3-container">

    <router-outlet></router-outlet>

  </div>

</div>

